.lancamento {
    background: rgb(19, 180, 238);
    background: radial-gradient(circle, rgba(19, 180, 238, 1) 0%, rgba(45, 248, 250, 1) 100%);
    padding: 20px;
    text-align: center;
}

.layout {
    display: flex;
    align-items: center;
    /* Centraliza verticalmente */
    justify-content: center;
    /* Centraliza horizontalmente */
    gap: 20px;
    /* Espaçamento entre o texto e o contador */
    flex-direction: row;
}

.lancamento h1 {
    color: #FFF;
    font-weight: 700;
    font-size: 34px;
    /* Ajuste de tamanho do texto */
    margin: 0;
}

.contador {
    display: flex;
    gap: 20px;
    /* Espaçamento entre os blocos do contador */
}

.tempo {
    text-align: center;
}

.tempo .label {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    display: block;
}

.tempo .valor {
    color: #FFF;
    font-size: 46px;
    font-weight: 700;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
        /* Altera o layout para vertical */
    }

    .lancamento h1 {
        margin-bottom: 10px;
        /* Adiciona um espaçamento abaixo do título */
    }
}

/*Navbar*/
.navbar-expand-lg img {
    width: 20%;
    cursor: pointer;
    transition: .3s ease;
}

.navbar-expand-lg img:hover {
    transform: scale(1.3);
}

.btn-quero-fazer-parte {
    background-color: #6751D1;
    color: #FFF;
    padding: 15px;
    text-decoration: none;
    font-weight: 700;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-quero-fazer-parte:hover {
    background-color: #4936AA;
    color: #2DF8FA;
}

.nav-link {
    color: #000;
    font-weight: 700;
    transition: .3s ease;
}

.nav-link:hover {
    transform: scale(1.3);
}

/* Ajustes para telas mobile */
@media (max-width: 768px) {
    .navbar-expand-lg img {
        width: 100%;
        /* Tamanho máximo da logo */
        margin-bottom: 20px;
        /* Espaçamento inferior */
    }

    .navbar-collapse {
        flex-direction: column;
        /* Alinha itens em coluna */
        align-items: center;
        /* Centraliza os itens */
    }

    .nav-item {
        margin-left: 25px;
    }

    .contato {
        margin-bottom: 25px;
    }

    .sobre-nos {
        margin-top: 25px;
    }

    .btn-quero-fazer-parte {
        width: 100%;
        /* Botão ocupa toda a largura */
        text-align: center;
        margin: 10px auto;
        /* Centraliza o botão horizontalmente */
    }
}


/*Criação de conteúdo */

.criacao-conteudo img {
    border-radius: 20px;
}

.criacao-conteudo .grafismo-site {
    width: 100%;
    margin-top: 20px;
}

.btn-lista-espera {
    background-color: #6751D1;
    color: #FFF;
    padding: 15px;
    text-decoration: none;
    font-weight: 700;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
}

.btn-lista-espera:hover {
    background-color: #4936AA;
    color: #2DF8FA;
}

/*Por que escolher*/

.por-que-escolher {
    display: flex;
    justify-content: start;
    /* Centraliza os itens no container principal */
    gap: 20px;
    /* Espaço entre os itens */
}

.por-que-escolher .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    max-width: 300px;
}

.por-que-escolher img {
    width: 100%;
    border-radius: 10px;
    height: 350px;
    object-fit: cover;
}

.por-que-escolher h3 {
    margin: 15px 0 10px;
    font-weight: bold;
}

.por-que-escolher p {
    margin: 0;
    line-height: 1.5;
    max-width: 100%;
}

.por-que-escolher h2 {
    text-align: center;
    font-weight: bold;
}

.btn-desconto {
    background-color: #6751D1;
    color: #FFF;
    padding: 15px;
    text-decoration: none;
    font-weight: 700;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    border-radius: 50px;
}

.btn-desconto:hover {
    background-color: #4936AA;
    color: #2DF8FA;
}

@media (max-width: 768px) {

    .por-que-escolher {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .por-que-escolher .item {
        align-items: center;
        text-align: center;
        max-width: 100%;
    }

}

/*Potencialize os resultados*/

.potencialize-resultados {
    background: rgb(19, 180, 238);
    background: radial-gradient(circle, rgba(19, 180, 238, 1) 0%, rgba(45, 248, 250, 1) 100%);
    padding: 30px;
}

.potencialize-resultados h2 {
    color: #FFF;
    text-align: center;
    font-weight: bold;
}

.cards-resultados {
    border-radius: 20px;
    background-color: #FFF;
    padding: 20px;
}

.cards-resultados img {
    width: 150px;
}

.cards-resultados p {
    text-align: center;
}

.cards-resultados h5 {
    text-align: center;
    color: #13B4EE;
}

.btn-lista-espera {
    background-color: #6751D1;
    color: #FFF;
    padding: 15px;
    text-decoration: none;
    font-weight: 700;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    border-radius: 50px;
}

.btn-lista-espera:hover {
    background-color: #4936AA;
    color: #2DF8FA;
}